@model RentACarProject.Models.Rental

@{
    ViewData["Title"] = "Payment";
}

<div class="container">
    <h2>Ödeme Sayfası</h2>

    @Html.Raw(ViewBag.pay) <!-- Iyzico ödeme formunu burada göster -->
</div>